<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/admin/layouts/main-layout :: main-fragment(
                                                ~{:: title},
                                                ~{:: #main-content},
                                                ~{:: #id-modal},
                                                ~{:: #other-static-resources}
                                               )}">
<head>
    <title>Customer</title>

</head>

<body>
<!-- Site wrapper -->
<div class="wrapper">

    <th:block id="main-content">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Customer List</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Customers</a></li>
                                <li class="breadcrumb-item active">Customer List</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">List of customers at the Furama resort</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-primary btnCreateModal">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                        <div class="col">
                                            <form class="form-inline float-right" th:action="@{/customers}">
                                                <input class="form-control mr-1" type="search" placeholder="Search"
                                                       aria-label="Search" name="txtSearch" id="txtSearch" th:value="${txtSearch}">
                                                <button type="submit" class="btn btn-outline-success"><i
                                                        class="fas fa-search"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                    <table id="customer" class="table table-hover table-striped">
                                        <thead class="thead-dark">
                                        <tr>
                                            <th>#</th>
                                            <th>Customer Code</th>
                                            <th>Full Name</th>
                                            <th>Birthday</th>
                                            <th>Gender</th>
                                            <th>ID Card</th>
                                            <th>Phone Number</th>
                                            <th>Email</th>
                                            <th>Address</th>
                                            <th>Customer Type</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody id="tbody">
                                        <tr class="edit-replace" th:each="customerRow, rowStat : ${customerList}">
                                            <td class="no" th:text="${rowStat.count}"></td>
                                            <td th:text="${customerRow.customerCode}"></td>
                                            <td th:text="${customerRow.fullName}"></td>
                                            <td th:text="${customerRow.birthday}"></td>
                                            <td th:switch="${customerRow.gender}">
                                                <span th:case="0">Female</span>
                                                <span th:case="1">Male</span>
                                                <span th:case="2">LGBT</span>
                                            </td>
                                            <td th:text="${customerRow.idNumber}"></td>
                                            <td th:text="${customerRow.phoneNumber}"></td>
                                            <td th:text="${customerRow.email}"></td>
                                            <td th:text="${customerRow.address}"></td>
                                            <td th:text="${customerRow.customerType.name}"></td>
                                            <td>
                                                <button class="btn btn-info btnViewModal" type="button"
                                                        th:value="${customerRow.id}"><i class="far fa-eye"></i></button>
                                                <button class="btn btn-secondary btnEditModal" type="button"
                                                        th:value="${customerRow.id}"><i class="far fa-edit"></i>
                                                </button>
                                                <button class="btn btn-danger btnDeleteModal" type="button"
                                                        th:value="${customerRow.id}"><i class="far fa-trash-alt"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>

                                    </table>

                                    <div class="clearfix text-right">
                                        <ul class="pagination" style="float: right;">
                                            <li class="page-item">
                                                <a th:href="@{/customers(page=${customerList.number - 1}, txtSearch=${txtSearch})}"
                                                   th:if="${customerList.hasPrevious()}" class="page-link">
                                                    Previous
                                                </a>
                                            </li>
<!--                                            <th:block th:each="i: ${#numbers.sequence(0, customerList.totalPages - 1)}">-->
<!--                                                <li class="page-item">-->
<!--                                                    <a th:href="@{/customers(page = ${i})}" th:text="${i + 1}"-->
<!--                                                       class="page-link"></a>-->
<!--                                                </li>-->
<!--                                            </th:block>-->
                                            <li class="page-item">
                                                <a class="page-link"
                                                   th:href="@{/customers(page=${customerList.number})}"
                                                   th:if="${customerList.hasPrevious()}"
                                                   th:text="${customerList.number}"></a>

                                            </li>

                                            <li class="page-item active">
                                                <a class="page-link"
                                                   th:href="@{/customers(page=${customerList.number})}"
                                                   th:text="${customerList.number + 1}"></a>

                                            </li>
                                            <li class="page-item">
                                                <a class="page-link"
                                                   th:href="@{/customers(page=${customerList.number})}"
                                                   th:if="${customerList.hasNext()}"
                                                   th:text="${customerList.number + 2}"></a>

                                            </li>
                                            <li class="page-item">
                                                <a th:href="@{/customers(page=${customerList.number + 1}, txtSearch=${txtSearch})}"
                                                   th:if="${customerList.hasNext()}" class="page-link">
                                                    Next
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </th:block>

</div>
<!-- ./wrapper -->

<th:bock id="id-modal">
    <!-- modal create -->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalModalLabel">Customer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-body-append">

                </div>
            </div>
        </div>
    </div>
    <!-- ./modal create -->

    <!-- modal delete -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Are you sure?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-delete-body-append">

                </div>
            </div>
        </div>
    </div>
    <!-- ./modal delete -->

</th:bock>

<th:bock id="other-static-resources">
    <script>
        // function setId(id) {
        //     document.getElementById("id").value = id;
        // }
    </script>
    <script>
        let rowToEdit;
        let rowToDelete;

        $(document).ready(function () {
            $(".btnCreateModal").click(function () {
                $.ajax({
                    type: "GET",
                    url: "/customers/create",
                    dataType: "HTML",
                    success: function (data) {
                        $(".modal-body-append").html(data);
                        $("#editModal").modal('show');
                    }
                });
            });

            $(document).on('click', '.btnEditModal', function (event) {
                $.ajax({
                    type: "GET",
                    url: "/customers/edit/" + $(this).val(),
                    dataType: "HTML",
                    success: function (data) {
                        rowToEdit = $(event.target).closest("tr");
                        $(".modal-body-append").html(data);
                        $("#editModal").modal('show');
                    }
                });
            });

            $(document).on('click', '.btnDeleteModal', function (event) {
                $.ajax({
                    type: "GET",
                    url: "/customers/delete/" + $(this).val(),
                    dataType: "HTML",
                    success: function (data) {
                        rowToDelete = $(event.target).closest("tr");
                        $(".modal-delete-body-append").html(data);
                        $("#deleteModal").modal('show');
                    }
                });
            });

            $(document).on('click', '#btnDelete', function () {
                $.ajax({
                    type: "POST",
                    url: "/customers/delete/" + $('#customer-id-delete').val(),
                    dataType: "HTML",
                    success: function () {
                        $("#deleteModal").modal('hide');
                        rowToDelete.remove();
                        Swal.fire({
                            title: 'Delete success!',
                            icon: 'success',
                            timer: 2000,
                            showConfirmButton: false
                        });
                        console.log("deleted");
                    },
                    error: function () {
                        console.log("error");
                    }
                });
            });

            $(document).on('click', '#btnSave', function () {
                let id = $("#customer-id").val();
                let customerCode = $("#customerCode").val();
                let fullName = $("#fullName").val();
                let birthday = $("#birthday").val();
                let gender = $("input:checked").val();
                let idNumber = $("#idNumber").val();
                let phoneNumber = $("#phoneNumber").val();
                let email = $("#email").val();
                let address = $("#address").val();
                let customerTypeId = $("#customerTypeId").val();
                let customerTypeName = $("option:selected").text();
                let customer = {
                    "id": id,
                    "customerCode": customerCode,
                    "fullName": fullName,
                    "birthday": birthday,
                    "gender": gender,
                    "idNumber": idNumber,
                    "phoneNumber": phoneNumber,
                    "email": email,
                    "address": address,
                    "customerType": {
                        "id": customerTypeId,
                        "name": customerTypeName
                    }
                }

                console.log("get modal", customer);
                $.ajax({
                    type: "POST",
                    url: "/customers/save",
                    data: JSON.stringify(customer),
                    dataType: "json",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Accept", "application/json");
                        xhr.setRequestHeader("Content-Type", "application/json");
                    },
                    success: function (data) {
                        $("#editModal").modal('hide');
                        Swal.fire({
                            title: 'Save success!',
                            icon: 'success',
                            timer: 2000,
                            showConfirmButton: false
                        });
                        let respContent = "";
                        if (id === null || id === "") {
                            // ...
                            // $("#tbody").append(respContent);
                            setTimeout(function () {// wait for 2 secs
                                location.reload(); // then reload the page
                            }, 2000);
                            // window.location.href = "/customers";

                            console.log("resp", data);
                        } else {
                            respContent += "<tr>";
                            respContent += "<td>" + "#" + "</td>";
                            respContent += "<td>" + data.customerCode + "</td>";
                            respContent += "<td>" + data.fullName + "</td>";
                            respContent += "<td>" + data.birthday + "</td>";
                            if (data.gender === 0) {
                                respContent += "<td>Female</td>";
                            } else if (data.gender === 1) {
                                respContent += "<td>Male</td>";
                            } else {
                                respContent += "<td>LGBT</td>";
                            }
                            respContent += "<td>" + data.idNumber + "</td>";
                            respContent += "<td>" + data.phoneNumber + "</td>";
                            respContent += "<td>" + data.email + "</td>";
                            respContent += "<td>" + data.address + "</td>";
                            respContent += "<td>" + data.customerType.name + "</td>";
                            respContent += "<td>" + "<button class='btn btn-info mr-1 btnViewModal' type='button' value='" + data.id + "'><i class='far fa-eye'></i></button>";
                            respContent += "<button class='btn btn-secondary mr-1 btnEditModal' type='button' value='" + data.id + "'><i class='far fa-edit'></i></button>";
                            respContent += "<button class='btn btn-danger btnDeleteModal' type='button' value='" + data.id + "'><i class='far fa-trash-alt'></i></button>";
                            respContent += "</td>";
                            respContent += "</tr>";
                            rowToEdit.replaceWith(respContent);
                            console.log("updated");
                        }
                    },
                    error: function () {
                        console.log("error");

                    }
                });
            });

        });
    </script>

</th:bock>

</body>
</html>