<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!-- config filter nao chay truoc, filter nao chay sau -->
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/customers</url-pattern>
        <url-pattern>/employees</url-pattern>
        <url-pattern>/services</url-pattern>
        <url-pattern>/contracts</url-pattern>
        <url-pattern>/contractdetails</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern>/customers</url-pattern>
        <url-pattern>/employees</url-pattern>
        <url-pattern>/services</url-pattern>
        <url-pattern>/contracts</url-pattern>
        <url-pattern>/contractdetails</url-pattern>
    </filter-mapping>
</web-app>