<div class="container">
  <div class="card border-primary">
    <div class="card-body">
      <h4 class="card-title">Product Detail</h4>
      <div *ngIf="product; else nodata">
        <div>
          Name: {{product.name|titlecase}}
        </div>
        <div>
          Price: {{product.price|currency:"VND":true}}
        </div>
        <div>
          Manufacture Date: {{product.manufactureDate|date:"dd/MM/yyyy"}}
        </div>
        <div>
          Quantity: {{product.quantity}}
        </div>
        <div>
          Origin: {{product.origin.name}}
        </div>
        <div *ngIf="product.quantity == 0">
          <button type="button" class="btn btn-primary my-3" (click)="showInputForm()">Update Quantity</button>
        </div>
        <div *ngIf="check">
          <label>New Quantity</label>
          <input type="number" class="form-control" #quantity (change)="updateQuantity(quantity.value)">
        </div>
      </div>
      <ng-template #nodata>
        <p style="color: red;">No data</p>
      </ng-template>
    </div>
  </div>
</div>
