<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/admin/layouts/main-layout :: main-fragment(
                                                ~{:: title},
                                                ~{:: #main-content},
                                                ~{:: #id-modal},
                                                ~{:: #other-static-resources}
                                               )}">
<head>
    <title>Contract</title>

</head>

<body>
<!-- Site wrapper -->
<div class="wrapper">

    <th:block id="main-content">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Contract List</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Contracts</a></li>
                                <li class="breadcrumb-item active">Contract List</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">List of contracts at the Furama resort</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-primary btnCreateModal">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                        <div class="col">
                                            <form class="form-inline float-right">
                                                <input type="hidden" name="action" value="search">
                                                <input class="form-control mr-1" type="search" placeholder="Search"
                                                       aria-label="Search" name="txtSearch" id="txtSearch">
                                                <button type="submit" class="btn btn-outline-success"><i
                                                        class="fas fa-search"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                    <table id="customer" class="table table-hover table-striped">
                                        <thead class="thead-dark">
                                        <tr>
                                            <th>#</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Deposit</th>
                                            <th>Total Pay</th>
                                            <th>Employee</th>
                                            <th>Customer</th>
                                            <th>Service</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody id="tbody">
                                            <tr th:each="contractRow, rowStat : ${contractList}">
                                                <td th:text="${rowStat.count}"></td>
                                                <td th:text="${contractRow.startDate}"></td>
                                                <td th:text="${contractRow.endDate}"></td>
                                                <td th:text="${contractRow.deposit}"></td>
                                                <td th:text="${contractRow.totalPay}"></td>
                                                <td th:text="${contractRow.employee.fullName}"></td>
                                                <td th:text="${contractRow.customer.fullName}"></td>
                                                <td th:text="${contractRow.resortService.name}"></td>
                                                <td>
                                                    <button class="btn btn-success btnCreateContractDetailModal" type="button"
                                                            th:value="${contractRow.id}"><i class="fas fa-plus-square"></i></button>
                                                    <button class="btn btn-secondary btnEditModal" type="button"
                                                            th:value="${contractRow.id}"><i class="far fa-edit"></i>
                                                    </button>
                                                    <button class="btn btn-danger btnDeleteModal" type="button"
                                                            th:value="${contractRow.id}"><i class="far fa-trash-alt"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>


                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </th:block>

</div>
<!-- ./wrapper -->

<th:bock id="id-modal">
    <!-- modal create -->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Contract</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-body-append">

                </div>
            </div>
        </div>
    </div>
    <!-- ./modal create -->

    <!-- modal create -->
    <div class="modal fade" id="createContractDetailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createContractDetailsModalLabel">Contract detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-create-contract-detail-body-append">

                </div>
            </div>
        </div>
    </div>
    <!-- ./modal create -->

    <!-- modal delete -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Are you sure?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-delete-body-append">

                </div>
            </div>
        </div>
    </div>
    <!-- ./modal delete -->

</th:bock>

<th:bock id="other-static-resources">

    <script>
        let contractIdGet;

        $(document).ready(function () {
            $(".btnCreateModal").click(function () {
                $.ajax({
                    type: "GET",
                    url: "/contracts/create",
                    dataType: "HTML",
                    success: function (data) {
                        $(".modal-body-append").html(data);
                        $("#editModal").modal('show');
                    }
                });
            });

            $(".btnCreateContractDetailModal").click(function () {
                contractIdGet = $(this).val();
                $.ajax({
                    type: "GET",
                    url: "/contractdetails/create",
                    dataType: "HTML",
                    success: function (data) {
                        $(".modal-create-contract-detail-body-append").html(data);
                        $("#createContractDetailsModal").modal('show');
                    }
                });
            });

            $(document).on('click', '#btnSaveContractDetail', function () {
                let quantity = $("#quantity").val();
                let contractId = contractIdGet;
                let extraServiceId = $("#extraServiceId").val();

                let contractdetail = {
                    "quantity": quantity,
                    "contract": {
                        "id": contractId
                    },
                    "extraService": {
                        "id": extraServiceId
                    }
                }

                console.log("get modal", contractdetail);
                $.ajax({
                    type: "POST",
                    url: "/contractdetails/save",
                    data: JSON.stringify(contractdetail),
                    dataType: "json",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Accept", "application/json");
                        xhr.setRequestHeader("Content-Type", "application/json");
                    },
                    success: function (data) {
                        $("#createContractDetailsModal").modal('hide');
                        Swal.fire({
                            title: 'Save success!',
                            icon: 'success',
                            timer: 2000,
                            showConfirmButton: false
                        });
                        // setTimeout(function () {// wait for 2 secs
                        //     location.reload(); // then reload the page
                        // }, 2000);
                        // if (id === null || id === "") {
                        //
                        //     console.log("resp", data);
                        // } else {
                        //
                        //     console.log("updated");
                        // }
                    },
                    error: function () {
                        console.log("error");

                    }

                });
            });

            $(document).on('click', '#btnSave', function () {
                let id = $("#contract-id").val();
                let startDate = $("#startDate").val();
                let endDate = $("#endDate").val();
                let deposit = $("#deposit").val();
                let totalPay = $("#totalPay").val();
                let employeeId = $("#employeeId").val();
                let employeeName = $("#option-employee:selected").text();
                let customerId = $("#customerId").val();
                let customerName = $("#option-customer:selected").text();
                let serviceId = $("#serviceId").val();
                let serviceName = $("#option-service:selected").text();

                let contract = {
                    "id": id,
                    "startDate": startDate,
                    "endDate": endDate,
                    "deposit": deposit,
                    "totalPay": totalPay,
                    "employee": {
                        "id": employeeId,
                        "fullName": employeeName
                    },
                    "customer": {
                        "id": customerId,
                        "fullName": customerName
                    },
                    "resortService": {
                        "id": serviceId,
                        "name": serviceName
                    },
                }

                console.log("get modal", contract);
                $.ajax({
                    type: "POST",
                    url: "/contracts/save",
                    data: JSON.stringify(contract),
                    dataType: "json",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Accept", "application/json");
                        xhr.setRequestHeader("Content-Type", "application/json");
                    },
                    success: function (data) {
                        $("#editModal").modal('hide');
                        Swal.fire({
                            title: 'Save success!',
                            icon: 'success',
                            timer: 2000,
                            showConfirmButton: false
                        });
                        setTimeout(function () {// wait for 2 secs
                            location.reload(); // then reload the page
                        }, 2000);
                        if (id === null || id === "") {

                            console.log("resp", data);
                        } else {

                            console.log("updated");
                        }
                    },
                    error: function () {
                        console.log("error");

                    }

                });
            });

        });
    </script>

</th:bock>

</body>
</html>