<div class="container">
  <div class="card border-primary">
    <div class="card-body">
      <h4 class="card-title">Add New Product</h4>
      <form [formGroup]="refProduct" (ngSubmit)="submitCreateForm()">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" formControlName="name">
          <span *ngIf="refProduct.controls.name.touched && refProduct.controls.name.errors?.required"
            style="color: red;">Required input</span>
          <span *ngIf="refProduct.controls.name.touched && refProduct.controls.name.errors?.minlength"
            style="color: red;">Minlength 5</span>
        </div>
        <div class="form-group">
          <label>Price</label>
          <input type="number" class="form-control" formControlName="price">
          <span *ngIf="refProduct.controls.price.touched && refProduct.controls.price.errors?.required"
            style="color: red;">Required input</span>
          <span *ngIf="refProduct.controls.price.touched && refProduct.controls.price.errors?.min"
            style="color: red;">Min
            10</span>
        </div>
        <div class="form-group">
          <label>Manufacture Date</label>
          <input type="date" class="form-control" formControlName="manufactureDate">
          <span
            *ngIf="refProduct.controls.manufactureDate.touched && refProduct.controls.manufactureDate.errors?.required"
            style="color: red;">Required
            input</span>
        </div>
        <div class="form-group">
          <label>Quantity</label>
          <input type="number" class="form-control" formControlName="quantity">
          <span *ngIf="refProduct.controls.quantity.touched && refProduct.controls.quantity.errors?.required"
            style="color: red;">Required input</span>
          <span *ngIf="refProduct.controls.quantity.touched && refProduct.controls.quantity.errors?.min"
            style="color: red;">Min 0</span>
          <span *ngIf="refProduct.controls.quantity.touched && refProduct.controls.quantity.errors?.max"
            style="color: red;">Max 100</span>
        </div>
        <div class="form-group">
          <label for=""></label>
          <select class="form-control" formControlName="origin">
            <option value="" disabled>Select origin</option>
            <option *ngFor="let origin of origins" [ngValue]="origin">{{origin.name}}</option>
          </select>
          <span *ngIf="refProduct.controls.origin.touched && refProduct.controls.origin.errors?.required"
            style="color: red;">Required
            input</span>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="refProduct.invalid">Save</button>
      </form>
    </div>
  </div>
</div>
