<div class="container">
  <div>
    <input type="text" class="form-control" [(ngModel)]="txtSearch" placeholder="Search by name">
    <input type="text" class="form-control" [(ngModel)]="txtSearch2" placeholder="Search by price">
    <button class="btn btn-success" (click)="search()">Search</button>
  </div>
  <div>
    <select class="form-control" [(ngModel)]="searchBy">
      <option value="1">Search by name</option>
      <option value="2">Search by price</option>
      <option value="3">Search by origin</option>
    </select>
    <input type="text" class="form-control" [(ngModel)]="txtSearch" placeholder="Search..">
    <button class="btn btn-success" (click)="search()">Search</button>
  </div>
  <div>
    <h3>Product List</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>ID</th>
          <th>Name</th>
          <th>Price</th>
          <th>Manufacture Date</th>
          <th>Quantity</th>
          <th>Quantity</th>
          <th>Origin</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody *ngIf="products; else nodata">
        <tr *ngFor="let product of products | paginate: { itemsPerPage: 5, currentPage: p }; let i = index;">
          <td scope="row">{{i + 1}}</td>
          <td>{{product.id}}</td>
          <td>{{product.name|titlecase}}</td>
          <td>{{product.price|currency:"VND":true}}</td>
          <td>{{product.manufactureDate|date:"dd/MM/yyyy"}}</td>
          <td>
            <span *ngIf="product.quantity == 0">Out of Stock</span>
            <span *ngIf="product.quantity > 0 && product.quantity < 10">In Stock</span>
            <span *ngIf="product.quantity >= 10">Many In Stock</span>
          </td>
          <td>{{product.quantity}}</td>
          <td>{{product.origin.name}}</td>
          <td>
            <button class="btn btn-secondary" [routerLink]="['/detail',product.id]">View</button>
            <button class="btn btn-warning" [routerLink]="['/edit',product.id]">Edit</button>
            <button class="btn btn-danger" [routerLink]="['/delete',product.id]">Delete</button>
            <button class="btn btn-danger" (click)="onDelete(product.id)">Delete Dialog</button>
          </td>
        </tr>
      </tbody>
      <ng-template #nodata>
        <tbody>
          <tr>
            <td style="color: red; text-align: center;" colspan="9">No data available in table</td>
          </tr>
        </tbody>
      </ng-template>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
  
</div>
